<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Feed</title>
</head>
<body>
    <header>
        <nav>
            <div id="logoSearch">
                <span>logo</span>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button>search</button>
                </form>
            </div>
            <form method="get" action="/users/{{user_id}}">
                <button>Account</button>
            </form>
            <form method="POST" action="/users/signout">
                <button>Signout</button>
            </form>
        </nav>
    </header>
    <main>
        <section>
            <span>Insert Home Page Content</span>
        </section>
    </main>
</body>
</html>