<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" />
    <title>Home Feed</title>
</head>
<body id="searchBody">
    <header id="searchHeader">
        <nav id="searchTopNav">
            <div id="logoSearch">
                <a href="/users/home" id="logoImg"></a>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button id="searchFormBtn"></button>
                </form>
            </div>
            <div id="navBtns">
                <button id="accountBtn"><a href="/users/{{user_id}}">Account</a></button>
                <form id="signoutBtn" method="POST" action="/users/signout">
                    <button>Signout</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <span>Insert Home Page Content</span>
        </section>
    </main>
</body>
</html>