<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Feed</title>
</head>
<body>
    <header>
        <nav>
            <span>insert logo here</span>
            <input
                type="text" name="search"
                placeholder="search for movies"/>
            {{! <form method="get" action="/users/account">
                <button>Account</button>
            </form> }}
            <form method="POST" action="/users/signout">
                <button>Signout</button>
            </form>
        </nav>
    </header>
    <main>
        <section>
            <span>Insert Home Page Content</span>
        </section>
    </main>
</body>
</html>