<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css" />
    <title>Index</title>
</head>
<body>
    <header id="landingHeader">
        <nav id=topNav>
            <div id="logoSearch">
                <a href="/users/home" id="logoImg"></a>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button id="searchFormBtn"></button>
                </form>
            </div>
            <div id="guestLogin">
                <form method="POST" action="/users/login">
                    <input type="hidden" name="user_name" value="Guest">
                    <input type="hidden" name="user_password" value="guest123">
                    <button class='btn'>Login as Guest</button>
                </form>
            </div>
        </nav>
    </header>
    <main id="landingMain">
        <section id="topAuth">
            <h2>Movie Scoop</h2>
            <p>Join our community!</p> 
            <span>{{message}}</span>
            <button class="loginBtn"><a href="/users/login">Log in</a></button>
            <button class="signupBtn"><a href="/users/signup">Sign up</a></button>
        </section>
        <section id="landingInfo">
            <h2>What's Movie Scoop?</h2>
            <p>This is a movie loving Community! Share your movie interests, takes and opinions!</p>
        </section>
        <section id="landingPoster">
            {{! <h2>How does it work?</h2>
            <p>Search for your favorite movie. If there isn't a review for it already, write one! Look at top reviews and join the discussion!</p>
            <span>Insert how to use the app</span> }}
        </section>
        <section id="landingEnd">
            <h2>Do you have more questions?</h2>
            <p>No worries! Everyone here is super friendly and just wants to talk about their favorite movies!</p>
        </section>
        <section id="bottomAuth">
            <h2>It's that simple</h2>
            <p>Some come join us! Sign up today!</p>
            <button class="loginBtn"><a href="/users/login">Log in</a></button>
            <button class="signupBtn"><a href="/users/signup">Sign up</a></button>
        </section>
    </main>
</body>
</html>