<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <span>insert app logo</span>
            <span>{{message}}</span>
            <input id="search" type="text" name="search" placeholder="search movies"/>
            <button id="loginBtn"><a href="/users/login">Log in</a></button>
            <button id="signupBtn"><a href="/users/signup">Sign up</a></button>
        </nav>
    </header>
    <main>
        <section class="landingAuth">
            <button id="loginBtn"><a href="/users/login">Log in</a></button>
            <button id="signupBtn"><a href="/users/signup">Sign up</a></button>
        </section>
        <section id="landingInfo">
            <span>Insert site info</span>
        </section>
        <section id="landingHowTo">
            <span>Insert how to use the app</span>
        </section>
        <section id="landingWrap">
            <span>Insert any other tidbits</span>
        </section>
        <section class="landingAuth">
            <button id="loginBtn"><a href="/users/login">Log in</a></button>
            <button id="signupBtn"><a href="/users/signup">Sign up</a></button>
        </section>
    </main>
</body>
</html>