<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" />
    <title>The Scoops!</title>
</head>
<body id="searchBody">
    <header id="searchHeader">
        <nav id="searchTopNav">
            <div id="logoSearch">
                <a href="/users/home" id="logoImg"></a>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button id="searchFormBtn"></button>
                </form>
            </div>
            <div id="navBtns">
                <button id="accountBtn"><a href="/users/{{user_id}}">Account</a></button>
                <form id="signoutBtn" method="POST" action="/users/signout">
                    <button>Signout</button>
                </form>
            </div>
        </nav>
    </header>
    <main id="movieMain">
        <section id='movieInfoSection'>
            <div id='movieInfo'>
                <h4>{{movie.Title}}</h4>
                <span>{{movie.Year}}</span>
                <span>{{movie.Rated}}</span>
                <span>{{movie.Genre}}</span>
                <span>{{movie.Director}}</span>
            </div>
            <img id='moviePoster' src={{movie.Poster}} alt="poster"/>
        </section>
        <section id="addReviews">
            <span>Write a review for your favorite movie!</span>
            <form method = 'POST' action = '/movies/add-review'>
                <h5>{{movie.Title}}</h5>
                <input type = 'hidden' value = {{movie.imdbID}} name = 'movie_id'/>
                <input type = 'hidden' value = '{{movie.Title}}' name = 'movie_Title'/>
                <input type='text' id='reviewTitle' name='title' placeholder='Enter Title'/>
                <textarea wrap="soft" id = "reviewBody" name = "review" placeholder="Please write your review here"></textarea>
                <button id = "moviescoopbtn">Submit</button>
            </form>
        </section>
        <section id='postReviews'>
            {{#allReviews}}
                <div class="movieReview">
                    <h4 class="reviewTitle">{{title}}</h4>
                    <p class="reviewBody">{{body}}</p>
                    <span class="reviewUser">Reviewed by: {{user_name}}</span>
                    <span class="reviewDateCreated">Review Written: {{date_created}}</span>
                </div>
            {{/allReviews}}  
        </section>
    </main>
</body>
</html>