<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" />
    <title>Movie Search</title>
  </head>
  <body id="searchBody">
    <header id="searchHeader">
        <nav id=searchTopNav>
            <div id="logoSearch">
                {{^isAuthenticated}}
                <a href="../" id="logoImg"></a>
                {{/isAuthenticated}}
                {{#isAuthenticated}}
                <a href="/users/home" id="logoImg"></a>
                {{/isAuthenticated}}
                <input id="search" type="text" name="search" placeholder="search movies"/>
                <button id="searchBtn"></button>
            </div>
            <div id="navBtns">
                {{^isAuthenticated}}
                <button id="loginBtn"><a href="/users/login">Log in</a></button>
                <button id="signupBtn"><a href="/users/signup">Sign up</a></button>
                {{/isAuthenticated}}
                {{#isAuthenticated}}
                <button id="accountBtn"><a href="/users/{{user_id}}">Account</a></button>
                <form id="signoutBtn" method="POST" action="/users/signout">
                    <button>Signout</button>
                </form>
                {{/isAuthenticated}}
            </div>
        </nav>
    </header>
    <main id="searchMain">
        <section>
            <div id="searchResults">
                {{#movies}}
                <div id="movieDiv">
                    <h5>{{Title}}</h5>
                    <img src="{{Poster}}"/>
                    <form method="GET" action="/movies/{{imdbID}}">
                        <button>see movie details</button>
                    </form>
                </div>
                {{/movies}}
            </div>
        </section>
    </main>
    <script src="/js/async.js"></script>
  </body>
</html>
