<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>Movie Search</title>
  </head>
  <body>
    <header>
        <nav id=topNav>
            <div id="logoSearch">
                <button><a href="../">Home</a></button>
                <span>insert app logo</span>
                <input id="search" type="text" name="search" placeholder="search movies"/>
                <button id="searchBtn">search</button>
            </div>
            <div id="navBtns">
            <button id="loginBtn" class="loginBtn"><a href="/users/login">Log in</a></button>
            <button id="signupBtn" class="signupBtn"><a href="/users/signup">Sign up</a></button>
            <form id="accountBtn" method="get" action="/users/{{user_id}}">
                <button>Account</button>
            </form>
            <form id="signoutBtn" method="POST" action="/users/signout">
                <button>Signout</button>
            </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <span>Searched for: {{searchTerm}}<span>
            <div id="searchResults">
                {{#movies}}
                <div id="movieDiv">
                    <h4>{{Title}} - {{Year}}</h4>
                    <form method="GET" action="/movies/{{imdbID}}">
                        <button>see movie details</button>
                    </form>
                    <img src="{{Poster}}"/>
                </div>
                {{/movies}}
            </div>
        </section>
    </main>
    <script src="/js/async.js"></script>
  </body>
</html>
