<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
</head>
<body>
    <header>
        <h1>Welcome to your page!</h1>
        <button><a href="./home">Home Feed</a></button>
        <form method="POST" action="/users/signout">
            <button>Signout</button>
        </form>
    </header>
    <main>
        <section>
            {{#user}}
            <span>{{first_name}}</span>
            <span>{{last_name}}</span>
            <span>{{user_name}}</span>
            <span>{{user_email}}</span>
            {{/user}}
        </section>
    </main>
</body>
</html>