<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css" />
    <title>User Account</title>
</head>
<body id="searchBody">
    <header id="searchHeader">
        <nav id="searchTopNav">
            <div id="logoSearch">
                <a href="/users/home" id="logoImg"></a>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button id="searchFormBtn"></button>
                </form>
            </div>
            <div id="navBtns">
                <form id="signoutBtn" method="POST" action="/users/signout">
                    <button>Signout</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h2>User Info Below</h2>
            {{#user}}
            <span>{{first_name}}</span>
            <span>{{last_name}}</span>
            <span>{{user_name}}</span>
            <span>{{user_email}}</span>
            {{/user}}
        </section>
    </main>
</body>
</html>