<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" />
    <title>User Account</title>
</head>
<body id="searchBody">
    <header id="searchHeader">
        <nav id="searchTopNav">
            <div id="logoSearch">
                <a href="/users/home" id="logoImg"></a>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button id="searchFormBtn"></button>
                </form>
            </div>
            <div id="navBtns">
                <form id="signoutBtn" method="POST" action="/users/signout">
                    <button>Signout</button>
                </form>
            </div>
        </nav>
    </header>
    <main id="movieMain">
        <section id="userAccountSection">
            {{#user}}
            <h2>Hello {{first_name}}, Below is you info:</h2>
            <span><b>username:</b> {{user_name}}</span>
            <span><b>email:</b> {{user_email}}</span>
            {{/user}}
        </section>
        <h2>Your Reviews:</h2>
        <section id='postReviews'>
            {{#userReviews}}
                <div class="movieReview">
                    <h4 class="movieTitle">{{movie_title}}</h4>
                    <h4 class="reviewTitle">{{title}}</h4>
                    <p class="reviewBody">{{body}}</p>
                    <span class="reviewUser">Reviewed by: {{user_name}}</span>
                    <span class="reviewDateCreated">Review Written: {{date_created}}</span>
                </div>
            {{/userReviews}}  
        </section>
    </main>
</body>
</html>