// reset initial HTML - CSS rules + overall body styling

// import mixins
@import './mixins';

//mobile layout first
body {
  margin: 0px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

#userLoginBody {
  margin: 0px;
  background: center url('../images/login2.png') no-repeat;
  background-size: cover;
}

#userSignUpBody {
  margin: 0px;
  background: center url('../images/signup-2.jpeg') no-repeat;
  background-size: cover;
}

#searchBody {
  background-color: $primaryColor;
  @include flexBox(column, center, center);
  a {
    text-decoration: none;
  }
}

// tablet layout
@media (min-width: 768px) {
}
