// import mixins
@import './mixins';
//mobile layout first
header {
  margin-top: -50px;
  @include flexBox(row, center, center);
  #topNav {
    @include flexBox(row, space-between, center);
    position: fixed;
    top: 10px;
    width: 100%;
    background-color: transparent;
    #logoSearch {
      margin-left: 10px;
      width: 60%;
      @include flexBox(row, flex-start, center);
      #logoImg {
        margin-left: 5px;
        background: center url('../images/moviescooplogo.png') no-repeat;
        background-size: contain;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
      form {
        width: 100%;
        #search {
          border: transparent;
          border-radius: 10px;
          height: 20px;
          width: 60%;
        }
        #searchFormBtn {
          margin-left: 5px;
          background: center url('../images/search_icon.png') no-repeat;
          background-size: contain;
          width: 15px;
          height: 15px;
          border: transparent;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    #navBtns {
      margin-right: 15px;
    }
    #guestLogin {
      margin-right: 15px;
    }
  }
}

#searchHeader {
  margin-top: 0px;
  width: 100%;
  height: 50px;
  @include flexBox(row, center, center);
  #searchTopNav {
    @include flexBox(row, space-between, center);
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    #logoSearch {
      margin-left: 10px;
      width: 60%;
      @include flexBox(row, flex-start, center);
      #logoImg {
        margin-left: 5px;
        background: center url('../images/moviescooplogo.png') no-repeat;
        background-size: contain;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
      #search {
        border: transparent;
        border-radius: 10px;
        height: 20px;
        width: 60%;
      }
      #searchBtn {
        margin-left: 5px;
        background: center url('../images/search_icon.png') no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        border: transparent;
        &:hover {
          cursor: pointer;
        }
      }
      form {
        width: 100%;
        #search {
          border: transparent;
          border-radius: 10px;
          height: 20px;
          width: 60%;
        }
        #searchFormBtn {
          margin-left: 5px;
          background: center url('../images/search_icon.png') no-repeat;
          background-size: contain;
          width: 15px;
          height: 15px;
          border: transparent;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    #navBtns {
      margin-right: 15px;
      @include flexBox(row, center, center);
    }
  }

  // sime update
  #landingHeader {
    margin-top: -30px;
    @include flexBox(row, center, center);
    #topNav {
      @include flexBox(row, space-between, center);
      position: fixed;
      top: 0px;
      width: 100%;
      background-color: black;
      color: #ffff;
      height: 80px;
      display: flexbox;
      justify-content: flex-start;
      button {
        justify-content: flex-start;
        font: 24px sans-serif;
        background-color: transparent;
        border: 0;
      }
      #logoSearch {
        margin-left: 10px;
        width: 60%;
        @include flexBox(row, flex-start, center);
        span {
          height: 100%;
          display: table;
          float: left;
        }
        form {
          width: 80%;
          #search {
            width: 30%;
            padding: 6px;
            margin-left: 6px;
            background: none;
            color: white;
            top: 50%;
            left: 50%;
          }
        }
      }
      #navBtns {
        margin-right: 10px;
        font-size: 36px;
        color: whitesmoke;
      }
    }
  }
}

// tablet layout
@media (min-width: 768px) {
}
