@import './mixins';
#landingMain {
  padding-top: 30px;
  width: 100%;
  section {
    padding-top: 30px;
    height: 100vh;
    .loginBtn {
      &:hover {
        cursor: pointer;
      }
      text-align: center;
      width: 200px;
      margin-bottom: 7px;
      font-weight: 200;
      line-height: 2em;
      border-radius: 3px;
      border: none;
      color: $secondaryText;
      background-color: $thirdColor;
    }
    .signupBtn {
      text-align: center;
      width: 200px;
      margin-bottom: 7px;
      color: $secondaryText;
      font-weight: 200;
      background-color: $secondaryColor;
      line-height: 2em;
      border-radius: 3px;
      border: none;
    }
  }
  h2 {
    margin: 0px;
  }
  #topAuth {
    @include flexBox(column, center, center);
    padding-bottom: 30px;
    background: center / cover url('../images/login2.png') no-repeat;
    h2 {
      color: $secondaryText;
      font-size: 44px;
    }
    p {
      color: $secondaryText;
      font-size: 24px;
      font-weight: 100;
    }
  }
  #landingInfo {
    display: none;
    padding-bottom: 30px;
    background-color: $primaryColor;
    h2 {
      color: $primaryText;
      font-size: 44px;
    }
    p {
      color: $primaryText;
      font-size: 24px;
      font-weight: 100;
    }
  }
  #landingPoster {
    display: none;
    background: center / cover url('../images/index5.jpeg') no-repeat;
  }
  #landingEnd {
    display: none;
    background-color: $primaryColor;
    h2 {
      color: $primaryText;
      font-size: 44px;
    }
    p {
      color: $primaryText;
      font-size: 24px;
      font-weight: 100;
    }
  }
  #bottomAuth {
    display: none;
    background: center / cover url('../images/index03.jpeg') no-repeat;
    h2 {
      color: aliceblue;
      font-size: 44px;
    }
    p {
      color: aliceblue;
      font-size: 24px;
      font-weight: 100;
    }
  }
}

// tablet layout
@media (min-width: 768px) {
  #landingMain {
    padding-top: 30px;
    width: 100%;
    section {
      height: 500px;
    }
    h2 {
      margin: 0px;
    }
    #landingInfo {
      @include flexBox(column, center, center);
    }
    #landingPoster {
      @include flexBox(column, center, center);
    }
    #landingEnd {
      @include flexBox(column, center, center);
    }
    #bottomAuth {
      padding-bottom: 30px;
      @include flexBox(column, center, center);
    }
  }
}
