// color palette 1
// $primaryColor: #e2d6c5;
// $secondaryColor: #760a08;
// $thirdColor: #c14352;
// $fourthColor: #c47318;
// $fifthColor: #000;

// color palette 2
$primaryColor: #355070;
$secondaryColor: #6d597a;
$thirdColor: #b56576;
$fourthColor: #e56b6f;
$fifthColor: #eaac8b;

// text color
$primaryText: #000;
$secondaryText: #fff;
