<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css" />
    <title>Movie Scoop</title>
</head>
<body>
    <header id="landingHeader">
        <nav id=topNav>
            <div id="logoSearch">
                <a href="/users/home" id="logoImg"></a>
                <form method="POST" action="/search/movies">
                    <input id="search" type="text" name="search" placeholder="search movies"/>
                    <button id="searchFormBtn"></button>
                </form>
            </div>
            <div id="guestLogin">
                <form method="POST" action="/users/login">
                    <input type="hidden" name="user_name" value="Guest">
                    <input type="hidden" name="user_password" value="guest123">
                    <button class='btn'>Login as Guest</button>
                </form>
            </div>
        </nav>
    </header>
    <main id="landingMain">
        <section id="topAuth">
            <h2>Movie Scoop</h2>
            <p>Join our community!</p> 
            <span id="topAuthMsg">{{message}}</span>
            <a href="/users/login"><button class="loginBtn">Log in</button></a>
            <a href="/users/signup"><button class="signupBtn">Sign up</button></a>
        </section>
        <section id="landingInfo">
            <h2>What's Movie Scoop?</h2>
            <p>This is a movie loving Community! Share your movie interests, takes and opinions!</p>
        </section>
        <section id="landingPoster">
        </section>
        <section id="landingEnd">
            <h2>Do you have more questions?</h2>
            <p>No worries! Everyone here is super friendly and just wants to talk about their favorite movies!</p>
        </section>
        <section id="bottomAuth">
            <h2>It's that simple</h2>
            <p>Some come join us! Sign up today!</p>
            <a href="/users/login"><button class="loginBtn">Log in</button></a>
            <a href="/users/signup"><button class="signupBtn">Sign up</button></a>
        </section>
    </main>
</body>
</html>