@import './sass-breakout/variables';
@import './sass-breakout/body';
@import './sass-breakout/header';



button {
       border-radius: 8px;
       background-color:#6e0a00;
       color: #E2D6C5;
       transition-duration: 0.4s;
       &:hover{
       background: C47318;
        color: black;
            }
        
        }

#logoimg {
    padding:15px;
    height:120px;
    width:120px;
    align-items:left;
    margin:auto;
}
body {
    background-image: url('https://source.unsplash.com/5tlxS_jlVGY');
    background-size:auto ;
}


