/* Error: expected "{".
 *    ,
 * 65 |         width: 100%;
 *    |                    ^
 *    '
 *   sass-breakout/_header.scss 65:20  @import
 *   input.scss 4:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 65 \2502          width: 100%;\a    \2502                     ^\a    \2575 \a   sass-breakout/_header.scss 65:20  @import\a   input.scss 4:9                    root stylesheet';
}
