body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header #topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
  color: #ffff;
  height: 80px;
  display: flexbox;
  justify-content: flex-start;
}
header #topNav button {
  justify-content: flex-start;
  font: 24px sans-serif;
  background-color: transparent;
  border: 0;
}
header #topNav #logoSearch {
  margin-left: 10px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header #topNav #logoSearch span {
  height: 100%;
  display: table;
  float: left;
}
header #topNav #logoSearch form {
  width: 80%;
}
header #topNav #logoSearch form #search {
  width: 30%;
  padding: 6px;
  margin-left: 6px;
  background: none;
  color: white;
  top: 50%;
  left: 50%;
}
header #topNav #navBtns {
  margin-right: 10px;
  font-size: 36px;
  color: whitesmoke;
}

main {
  padding-top: 30px;
  width: 100%;
}
main section {
  padding-top: 30px;
  height: 100vh;
}
main h2 {
  margin: 0px;
}
main .landingAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .landingAuth #login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .landingAuth #signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #loginSection {
  background-image: url(/images/login2.png);
  background-size: contain;
  padding: 0;
  margin: 0;
  background-size: cover;
  font-family: sans-serif;
}
main #loginSection h2 {
  float: right;
  color: #0c745d;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
main #loginSection #login input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 6px auto;
  text-align: center;
  width: 200px;
  outline: none;
  border-radius: 8px;
  transition: 0.25s;
  font-size: 18px;
  background-color: #e9f5f5;
}
main #loginSection #login button {
  display: block;
  margin: 6px auto;
  text-align: center;
  padding: 0;
  width: 100px;
  outline: none;
  border-radius: 8px;
  transition: 0.25s;
  font-size: 18px;
  font-weight: 200;
  background-color: #e9f5f5;
}
main #signupSection {
  background-color: #b56576;
  background-image: url(/images/signup-2.jpeg);
  padding: 0;
  margin: 0;
  background-size: cover;
  font-family: sans-serif;
}
main #signupSection h2 {
  float: right;
  color: #8a1111;
  font-size: 40px;
  border-bottom: 6px solid #010701;
  margin-bottom: 50px;
  padding: 13px 0;
}
main #signupSection #signup input {
  background: none;
  display: block;
  margin: 6px auto;
  text-align: center;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 8px;
  transition: 0.25s;
  color: #03031d;
  font-size: 18px;
  background-color: #fcfcfa;
}
main #signupSection #signup button {
  background: none;
  display: block;
  margin: 6px auto;
  text-align: center;
  padding: 0;
  width: 200px;
  outline: none;
  border-radius: 6px;
  transition: 0.25s;
  color: #071522;
  font-size: 18px;
  font-weight: 200;
  background-color: #e9f5f5;
}
main #topAuth {
  padding-bottom: 30px;
  background-color: #355070;
  background-image: url(/images/index06.jpeg);
  background-size: contain;
}
main #topAuth h2 {
  color: whitesmoke;
  font-size: 44px;
}
main #topAuth p {
  color: aliceblue;
  font-size: 24px;
  font-weight: 100;
}
main #landingInfo {
  display: none;
  padding-bottom: 30px;
  background-color: #355070;
  background-image: url(/images/index01.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #landingInfo h2 {
  color: black;
  font-size: 44px;
}
main #landingInfo p {
  color: #5013f7;
  font-size: 24px;
  font-weight: 100;
}
main #landingHowTo {
  display: none;
  background-image: url(/images/index02.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #landingHowTo h2 {
  color: aliceblue;
  font-size: 44px;
}
main #landingHowTo p {
  color: aliceblue;
  font-size: 24px;
  font-weight: 100;
}
main #landingEnd {
  background-image: url(/images/index4.jpng);
  background-size: contain;
  background-position: center;
}
main #landingEnd h2 {
  color: #f9f9fd;
  font-size: 44px;
}
main #landingEnd p {
  color: aliceblue;
  font-size: 24px;
  font-weight: 100;
}
main #bottomAuth {
  background-image: url(/images/index01.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #bottomAuth h2 {
  color: aliceblue;
  font-size: 44px;
}
main #bottomAuth p {
  color: aliceblue;
  font-size: 24px;
  font-weight: 100;
}

@media (min-width: 768px) {
  main {
    padding-top: 30px;
    width: 100%;
  }
  main section {
    height: 500px;
  }
  main h2 {
    margin: 0px;
  }
  main #loginSection {
    background-color: #6d597a;
    height: 100vh;
  }
  main #signupSection {
    background-color: #b56576;
    height: 100vh;
  }
  main #topAuth {
    background-color: #355070;
  }
  main #landingInfo {
    background-color: #6d597a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #landingHowTo {
    background-color: #b56576;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #landingEnd {
    background-color: #e56b6f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #bottomAuth {
    background-color: #eaac8b;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=output.css.map */
