body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header #topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: transparent;
}
header #topNav #logoSearch {
  margin-left: 10px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header #topNav #logoSearch form {
  width: 80%;
}
header #topNav #logoSearch form #search {
  width: 60%;
}
header #topNav #navBtns {
  margin-right: 10px;
}

#searchHeader {
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#searchHeader #searchTopNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #760a08;
}
#searchHeader #searchTopNav #logoSearch {
  margin-left: 10px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#searchHeader #searchTopNav #logoSearch form {
  width: 80%;
}
#searchHeader #searchTopNav #logoSearch form #search {
  width: 60%;
}
#searchHeader #searchTopNav #navBtns {
  margin-right: 10px;
}

main {
  padding-top: 30px;
  width: 100%;
}
main section {
  padding-top: 30px;
  height: 100vh;
}
main h2 {
  margin: 0px;
}
main .landingAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .landingAuth #login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .landingAuth #signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #loginSection {
  background-color: #760a08;
}
main #signupSection {
  background-color: #c14352;
}
main #topAuth {
  padding-bottom: 30px;
  background-color: #e2d6c5;
}
main #landingInfo {
  display: none;
}
main #landingHowTo {
  display: none;
}
main #landingEnd {
  display: none;
}
main #bottomAuth {
  display: none;
}

@media (min-width: 768px) {
  main {
    padding-top: 30px;
    width: 100%;
  }
  main section {
    height: 500px;
  }
  main h2 {
    margin: 0px;
  }
  main #loginSection {
    background-color: #760a08;
    height: 100vh;
  }
  main #signupSection {
    background-color: #c14352;
    height: 100vh;
  }
  main #topAuth {
    background-color: #e2d6c5;
  }
  main #landingInfo {
    background-color: #760a08;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #landingHowTo {
    background-color: #c14352;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #landingEnd {
    background-color: #c47318;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #bottomAuth {
    background-color: #000;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=output.css.map */
